<!-- header end -->
<div class="breadcrumb-area pt-205 pb-210"
     style="background-image: url(https://www3.lenovo.com/medias/lenovo-thinkpad-x1-carbon-laptop-homepage-banner-main-1920x600.jpg?context=bWFzdGVyfHd3LXRoaW5rLTIwMTh8OTE2NzB8aW1hZ2UvanBlZ3x3dy10aGluay0yMDE4L2hmNC9oNjAvOTY2NTcxMjM1NzQwNi5qcGd8NjJiMTkyYzQ4ZjMwYzE1M2I2ZjdlZDQ5ZmYwNWExZDc1NGNmZWNjYTY3NjljYmIyZDM5YmYyNWE4Yzk1ODhjNg)">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2>contact us</h2>
      <ul>
        <li><a href="#">home</a></li>
        <li> contact us</li>
      </ul>
    </div>
  </div>
</div>
<!-- shopping-cart-area start -->
<div class="contact-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-map-wrapper">
          <div class="contact-map mb-40">
            <div id="hastech2">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8638558814587!2d105.74459841533215!3d21.038132792833153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIHRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1587912011676!5m2!1svi!2s"
                width="770" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
          </div>
          <div class="contact-message">
            <div class="contact-title">
              <h4>Contact Information</h4>
            </div>
            <form id="contact-form" class="contact-form" action="assets/mail.php" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="contact-input-style mb-30">
                    <label>Name*</label>
                    <input name="name" required="" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-input-style mb-30">
                    <label>Email*</label>
                    <input name="email" required="" type="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-input-style mb-30">
                    <label>Telephone</label>
                    <input name="telephone" required="" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-input-style mb-30">
                    <label>subject</label>
                    <input name="subject" required="" type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="contact-textarea-style mb-30">
                    <label>Comment*</label>
                    <textarea class="form-control2" name="message" required=""></textarea>
                  </div>
                  <button class="submit contact-btn btn-hover" type="submit">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
            <p class="form-messege"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info-wrapper">
          <div class="contact-title">
            <h4>Location & Details</h4>
          </div>
          <div class="contact-info">
            <div class="single-contact-info">
              <div class="contact-info-icon">
                <i class="ti-location-pin"></i>
              </div>
              <div class="contact-info-text">
                <p><span>Address:</span> Trường Cao đẳng thực hành FPT Polytechnic Hà Nội,<br>  Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội </p>
              </div>
            </div>
            <div class="single-contact-info">
              <div class="contact-info-icon">
                <i class="pe-7s-mail"></i>
              </div>
              <div class="contact-info-text">
                <p><span>Email: </span> trungtxph07227@fpt.edu.vn</p>
              </div>
            </div>
            <div class="single-contact-info">
              <div class="contact-info-icon">
                <i class="pe-7s-call"></i>
              </div>
              <div class="contact-info-text">
                <p><span>Phone: </span> (+84) 976 985 524 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
