<div class="page-content d-flex align-items-stretch">
  <!-- Side Navbar -->
  <nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="https://i.imgur.com/Gs3iy3E.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4">Trần Xuân Trung</h1>
        <p>Web Designer</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">MENU</span>
    <ul class="list-unstyled">
      <li class="active">
        <a routerLink="/form"><img src="https://image.flaticon.com/icons/png/512/36/36069.png"
                                   style="width: 18px; height: 20px;"/> Insert</a>
      </li>
      <li>
        <a routerLink="/table"><img
          src="https://cpng.pikpng.com/pngl/s/425-4259742_back-button-arrow-back-button-icon-black-hd.png"
          style="width: 18px; height: 20px;"/> Back home</a>
      </li>
    </ul>

  </nav>
  <div class="content-inner">
    <!-- Forms Section-->
    <section class="forms" style="padding-bottom: 5px;">
      <div class="container-fluid">
        <div class="row">
          <!-- Form Elements -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">PRODUCT INSERT</h3>
              </div>
              <div class="card-body">
                <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Name Product</label>
                        <div class="col-sm-9">
                          <input type="text" formControlName="name" class="form-control"
                                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                            <div *ngIf="f.name.errors.errors">Do not enter a space</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Price product ($)</label>
                        <div class="col-sm-9">
                          <input type="number" min="0" formControlName="pricePro" class="form-control"
                                 [ngClass]="{ 'is-invalid': submitted && f.pricePro.errors }"/>
                          <div *ngIf="submitted && f.pricePro.errors" class="invalid-feedback">
                            <div *ngIf="f.pricePro.errors.required">Price product is required</div>
                            <div *ngIf="f.pricePro.errors.checkPositivePrice">Price > 0</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Price sale product ($)</label>
                        <div class="col-sm-9">
                          <input type="number" min="0" formControlName="salePro" class="form-control"
                                 [ngClass]="{ 'is-invalid': submitted && f.salePro.errors }"/>
                          <div *ngIf="submitted && f.salePro.errors" class="invalid-feedback">
                            <div *ngIf="f.salePro.errors.required">Sale price product is required</div>
                            <div *ngIf="f.salePro.errors.checkPriceSale">Sale price is greater than price</div>
                            <div *ngIf="f.salePro.errors.checkPositivePriseSale">Sale price > 0</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Number product</label>
                        <div class="col-sm-9">
                          <input type="number" min="0" formControlName="numberPro" class="form-control"
                                 [ngClass]="{ 'is-invalid': submitted && f.numberPro.errors }"/>
                          <div *ngIf="submitted && f.numberPro.errors" class="invalid-feedback">
                            <div *ngIf="f.numberPro.errors.required">Number product is required</div>
                            <div *ngIf="f.numberPro.errors.checkPositiveNumberPrice">Number product > 0</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Type product</label>
                        <div class="col-sm-9">
                          <select formControlName="typePro" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.typePro.errors }">
                            <option value=""></option>
                            <option value="{{pr.name}}" *ngFor="let pr of typePro">{{pr.name}}</option>
                          </select>
                          <div *ngIf="submitted && f.typePro.errors" class="invalid-feedback">
                            <div *ngIf="f.typePro.errors.required">Type product is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Product Description</label>
                        <div class="col-sm-9">
                          <textarea rows="5" formControlName="proDesc" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.proDesc.errors }"></textarea>
                          <div *ngIf="submitted && f.proDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.proDesc.errors.required">Desc product is required</div>
                            <div *ngIf="f.proDesc.errors.errors">Do not enter a space</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>

                    </div>
                    <div class="col-lg-4">
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <input type="text" placeholder="Link images" (keyup)="loadIImges()"
                                 formControlName="img" class="form-control"
                                 [ngClass]="{ 'is-invalid': submitted && f.img.errors }">
                          <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                            <div *ngIf="f.img.errors.required">Img product is required</div>
                            <div *ngIf="f.img.errors.errors">Do not enter a space</div>
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <div *ngIf="imgDefault">
                            <img src="{{imgDefault}}" style="width: 500px">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 offset-sm-3">
                      <button type="submit" class="btn btn-primary" style="height: 38px;">Save</button>
                      <button type="reset" (click)="onReset()" class="btn btn-secondary"
                              style="height: 38px; margin-left: 10px;">
                        Reset
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p style="color: white;">Trần Xuân Trung &copy; 05-04-2020</p>
          </div>
          <div class="col-sm-6 text-right">
            <p style="color: white;">Design by <a href="https://bootstrapious.com/p/admin-template" class="external">TrungDz</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
