<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(https://www3.lenovo.com/medias/lenovo-thinkpad-x1-carbon-laptop-homepage-banner-main-1920x600.jpg?context=bWFzdGVyfHd3LXRoaW5rLTIwMTh8OTE2NzB8aW1hZ2UvanBlZ3x3dy10aGluay0yMDE4L2hmNC9oNjAvOTY2NTcxMjM1NzQwNi5qcGd8NjJiMTkyYzQ4ZjMwYzE1M2I2ZjdlZDQ5ZmYwNWExZDc1NGNmZWNjYTY3NjljYmIyZDM5YmYyNWE4Yzk1ODhjNg)">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2>register</h2>
      <ul>
        <li><a href="#">home</a></li>
        <li> register </li>
      </ul>
    </div>
  </div>
</div>
<!-- register-area start -->
<div class="register-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
        <div class="login">
          <div class="login-form-container">
            <div class="login-form">
              <form action="#" method="post">
                <input type="text" name="user-name" placeholder="Name customer">
                <input type="text" name="user-name" placeholder="Address">
                <input type="password" name="user-password" placeholder="Number phone">
                <input name="user-email" placeholder="Email" type="email">
                <input type="password" name="user-name" placeholder="Password">
                <input type="date" name="user-name" placeholder="Birthday">
                <input type="text" name="user-name" placeholder="Age">
                <input type="text" name="user-name" placeholder="Link imges">
                <div class="button-box">
                  <button type="submit" class="default-btn floatright">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
